<section class="special section-offset">
	<div class="container">
		<h2 class="section-title special__title">
			{{ specialTitle }}
		</h2>
		<div class="special__grid">
			<div class="special__left">
				<h3 class="special__subtitle">
					{{ specialSubtitle }}
				</h3>
				<div class="special__text">
					<p>
						{{ specialText }}
					</p>
				</div>
				<a href="fabrics.html" class="b-btn b-btn--primary">
					<span>Каталог тканей</span>
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.3335 8H12.6668M12.6668 8L8.66683 4M12.6668 8L8.66683 12" stroke="white"
						      stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
				<div class="special__img">
					<picture>
						<source srcset="images/home/special/special-left.webp 1x, images/home/special/special-left@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/home/special/special-left.png 1x, images/home/special/special-left@2x.png 1.3x"
						        type="image/png">
						<img src="images/home/special/special-left.png" width="219" height="251" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<div class="special__right">
				<div class="special__colors">
					<div class="special__top">
						<picture>
							<source srcset="images/home/special/colors-top.webp 1x, images/home/special/colors-top@2x.webp 1.3x"
							        type="image/webp">
							<source srcset="images/home/special/colors-top.png 1x, images/home/special/colors-top@2x.png 1.3x"
							        type="image/png">
							<img src="images/home/special/colors-top.png" width="1400" height="80" alt=""
							     loading="lazy">
						</picture>
					</div>
					<div class="special__bottom">
						<picture>
							<source srcset="images/home/special/colors-bottom.webp 1x, images/home/special/colors-bottom@2x.webp 1.3x"
							        type="image/webp">
							<source srcset="images/home/special/colors-bottom.png 1x, images/home/special/colors-bottom@2x.png 1.3x"
							        type="image/png">
							<img src="images/home/special/colors-bottom.png" width="1400" height="80" alt=""
							     loading="lazy">
						</picture>
					</div>
				</div>
				<div class="special__wrap">
					<div class="special__about">
						<p>
							{{ specialAboutOne }}
						</p>
						<p>
							{{ specialAboutTwo }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
